* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    grid: 1fr / 1fr 2fr 1fr;
}

.board {
    display: grid;
    grid: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.playerOne, .playerTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 5em;
}

.square {
    width: 200px;
    height: 200px;
    background-color: black;
    border: 10px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

#zerozero {
    height: 100%;
}

.square p {
    color: white;
    font-size: 5em;
}

.setPlayers {
    justify-self: center;
    align-self: center;
}

.setPlayers form {
    justify-content: center;
    align-items: center;
    display: grid;
    grid: 1fr 1fr 1fr 1fr 1fr / 1fr 4fr 1fr 4fr;
    gap: 2em 2em;
    padding: 3em 5em;
}

form input {
    height: 1.5em;
    font-size: 1.5em;
    padding-left: 0.2em;
}

form label {
    font-size: 1.5em;
}

#p1 {
    grid-area: 1 / 1 / 2 / 5;
    justify-self: center;
    font-weight: bold;
    position: relative;
    top: 1em;
    font-size: 1.8em;
}

#p2 {
    grid-area: 3 / 1 / 4 / 5;
    justify-self: center;
    font-weight: bold;
    position: relative;
    top: 1em;
    font-size: 1.8em;
}

#start {
    grid-area: 5 / 1 / 6 / 5;
    justify-self: center;
    padding: 1em;
    font-weight: bold;
    background-color: rgb(44, 224, 164);
    font-size: 1.2em;
}

.winPopUp {
    justify-self: center;
    align-self: center;
    padding: 5em;
    padding-bottom: 7em;
    justify-content: center;
    align-items: center;
}

#containing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#playerWin {
    font-size: 2em;
    font-weight: bold;
    justify-self: center;
    align-self: center;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    position: relative;
    top: 2em;
}

#buttons button {
    font-size: 1.3em;
    border-radius: 1.5em;
    padding: 1.5em;
    box-shadow: 1em black;
}