* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    grid: 1fr / 1fr 2fr 1fr;
}

.board {
    display: grid;
    grid: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.playerOne, .playerTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 5em;
}

.square {
    width: 200px;
    height: 200px;
    background-color: black;
    border: 10px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

#zerozero {
    height: 100%;
}

.square p {
    color: white;
    font-size: 5em;
}